* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
  width: 600px;
  max-height: 800px;
}

.main-container p {
  color: #fff;
  text-align: center;
}